{% extends "base.html" %}
{% block content %}
    {% for i in content %}
                    <div class="file-content">
                    <div class="file-name" style="width:25%;">{{ i.name }}</div>
                    <div class="file-size" style="width:10%;">{{ i.Filesize }}B</div>
					<div class="file-date" style="width:10%;">{{ i.DownloadDocount }}</div>
                    <div class="file-date" style="width:20%;">{{ i.Datatime }}</div>
                    <div class="file-link" style="width:35%; padding-right: 80px; text-overflow: ellipsis; overflow: hidden;">
                        <span>
                            http://127.0.0.1:9000/s/{{ i.code}}
                        </span>
                    </div>
                    <a href="/{{ i.path }}" style="color:#FFF;"><button>Download</button></a>
                </div>
    {% endfor %}
{% endblock %}